body{
    background-color:lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}

header{
    font-weight: 200;
    font-size: 25px;
    color: #fff;;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-top: 15px solid;
    border-bottom: #fff;
}


#menu_bar {
    background-color: rgb(1, 45, 139);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
color: #fff;
}

.nav_links {
    background-color: rgb(1, 45, 139);
    padding: 1em 0;
}
.topic_title {
    text-align: center;
    font-size: 45px;
}


.para {
    text-align: center;
    margin: 100px;
}

#blog {
    margin-left: 200px auto;
    margin-right: 200px auto;
    font-size: 15px;
}

#p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.trail_maps {
    height: 500px;
    border-radius: 20px;
}

a[lift_tickets] {
    text-align: center;
}